services:
  mc-server:
    image: itzg/minecraft-server
    user: "1000"
    environment:
      VERSION: 1.21.11
      EULA: "true"
      MOTD: |
        Rivalez Test - Servidor de Pruebas
      TYPE: ${MC_TYPE:-FABRIC}
      MEMORY: ${MC_MEMORY:-2G}
      SERVER_NAME: "Rivalez Test"
      GAMEMODE: "survival"
      DIFFICULTY: "hard"
      ALLOW_CHEATS: "false"
      MAX_PLAYERS: 15
      ONLINE_MODE: "true"
      PLAYER_IDLE_TIMEOUT: 30
      MODRINTH_PROJECTS: |
        fabric-api
        floodgate
      VERSION_FROM_MODRINTH_PROJECTS: false
      # OPS: |
      #   .SOSkr
      #   SrSOSkr
      WORLD: /worlds
      ENFORCE_SECURE_PROFILE: "false"
      # FORCE_WORLD_COPY: "TRUE"
    ports:
      - "${MC_PORT:-25569}:25565"
    volumes:
      - data:/data
      - /home/minecraft/javaworld:/worlds:ro,z
      # - /home/minecraft/plugins/jars:/data/plugins-jars
      # - /home/minecraft/plugins/configs:/data/plugins
    stdin_open: true
    tty: true
    restart: unless-stopped
    networks:
      - mcnet

  viaproxy:
    image: ghcr.io/viaversion/viaproxy:latest
    ports:
      - "${MC_BEDROCK_PORT:-19139}:19132/udp"
    volumes:
      - data:/data:ro
      - ./plugins/viaproxy:/app/run
      # - ./scripts/pre-viaproxy-tasks.sh:/pre-viaproxy-tasks.sh:ro
    stdin_open: true
    tty: true
    restart: unless-stopped
    networks:
      - mcnet
    #entrypoint: ["/pre-viaproxy-tasks.sh"]
    depends_on:
      mc-server:
        condition: service_healthy

volumes:
  data: {}

networks:
  mcnet:
    driver: bridge
