services:
  mc:
    image: itzg/minecraft-server
    user: "1000"
    environment:
      VERSION: 1.21.11
      EULA: "true"
      MOTD: |
        Rivalez Test - Servidor de Pruebas
      TYPE: "PAPER"
      MEMORY: 2G
      PLUGINS: |
        https://download.geysermc.org/v2/projects/geyser/versions/latest/builds/latest/downloads/spigot
        https://download.geysermc.org/v2/projects/floodgate/versions/latest/builds/latest/downloads/spigot
      SERVER_NAME: "Rivalez Test"
      GAMEMODE: "survival"
      DIFFICULTY: "hard"
      ALLOW_CHEATS: "false"
      MAX_PLAYERS: 15
      ONLINE_MODE: "true"
      PLAYER_IDLE_TIMEOUT: 30
      # OPS: |
      #   .SOSkr
      #   SrSOSkr
      WORLD: /worlds
      ENFORCE_SECURE_PROFILE: "false"
      # FORCE_WORLD_COPY: "TRUE"
    ports:
      - "${MC_PORT:-25569}:25565"
      - "${MC_BEDROCK_PORT:-19139}:19132/udp"
    volumes:
      - data:/data
      - /home/minecraft/javaworld:/worlds:ro,z
      # - /home/minecraft/plugins/jars:/data/plugins-jars
      # - /home/minecraft/plugins/configs:/data/plugins
    stdin_open: true
    tty: true
    restart: unless-stopped
    networks:
      - mcnet

volumes:
  data: {}

networks:
  mcnet:
    driver: bridge
