services:
  mc-community:
    image: itzg/minecraft-server
    user: "1000"
    environment:
      VERSION: ${MC_VERSION:-1.21.4}
      EULA: "true"
      MOTD: |
        Rivalez Community - Servidor de la Comunidad
        ¡Únete y juega con otros miembros de la comunidad!
      TYPE: ${MC_TYPE:-FABRIC}
      MEMORY: ${MC_MEMORY:-6G}
      SERVER_NAME: "Rivalez Community"
      GAMEMODE: "${MC_GAMEMODE:-survival}"
      DIFFICULTY: "${MC_DIFFICULTY:-hard}"
      ALLOW_CHEATS: "false"
      ONLINE_MODE: "true"
      MAX_PLAYERS: 15
      PLAYER_IDLE_TIMEOUT: 30
      # WORLD: /worlds-community
      REMOVE_OLD_MODS: "true"
      CF_API_KEY: "$2a$10$3gfPX4Vv3e8V3VT.z8XX5.T2gyyxS5QCj4qaFY108oek7LgpsF.0u"
      CURSEFORGE_FILES: |
        darkquesting
        journeymap
        forge-config-api-port
        mapfrontiers
      MODRINTH_PROJECTS: |
        fabric-api
        floodgate
        chunky
        lithium
        ferrite-core
        modernfix
        scalablelux
        krypton
        c2me-fabric
        servercore
        alternate-current
        cloth-config
        get-it-together-drops
        clumps
        spark
        visible-traders
        item-highlighter
        vote2sleep-mod
        balm
        netherportalfix
        terralith
        cristel-lib
        towns-and-towers
        crop-harvester-server
      VERSION_FROM_MODRINTH_PROJECTS: false
      SEED: "-1348783667235587485"
      JVM_OPTS: "-XX:MinHeapFreeRatio=20 -XX:MaxHeapFreeRatio=40 -javaagent:/authhook/ViaProxyAuthHook-Agent-1.0.1.jar"
      OPS: |
        SrSOSkr
      # .SOSkr
      ENFORCE_SECURE_PROFILE: "false"
      # FORCE_WORLD_COPY: "TRUE"
    ports:
      - "${MC_PORT:-25566}:25565"
    volumes:
      - data-community:/data
      - /home/minecraft/javaworld-community:/worlds-community:ro,z
      - ./authhook:/authhook:ro
      - ./authhook/auth_hook.properties:/data/auth_hook.properties:ro
    stdin_open: true
    tty: true
    restart: unless-stopped
    networks:
      - mcnet-community

  viaproxy:
    image: ghcr.io/viaversion/viaproxy:latest
    ports:
      - "${MC_BEDROCK_PORT:-19133}:19132/udp"
    volumes:
      - data-community:/data:ro
      - ./viaproxy:/app/run
    stdin_open: true
    tty: true
    restart: unless-stopped
    networks:
      - mcnet-community
    depends_on:
      mc-community:
        condition: service_healthy

  backups-community:
    image: itzg/mc-backup
    depends_on:
      mc-community:
        condition: service_healthy
    environment:
      BACKUP_INTERVAL: ${BACKUP_INTERVAL:-24h}
      RCON_HOST: mc-community
      INITIAL_DELAY: 0
      TZ: "America/Bogota"
      PRUNE_BACKUPS_DAYS: ${PRUNE_DAYS:-7}
      LINK_LATEST: "true"
      PRE_BACKUP_SCRIPT: |
        rcon-cli say [BACKUP] Iniciando respaldo del mundo...
      POST_BACKUP_SCRIPT: |
        if [ "$1" -eq 0 ]; then
          rcon-cli say "[BACKUP] Respaldo completado exitosamente."
        else
          rcon-cli say "[BACKUP] Respaldo falló."
        fi
    volumes:
      - data-community:/data:ro
      - mc-backups-community:/backups
    networks:
      - mcnet-community

volumes:
  data-community: {}
  mc-backups-community: {}

networks:
  mcnet-community:
    driver: bridge
